.intro {

    
    font-size: 6.2em;
    font-family: papyrus;
    font-weight: bolder;
    color: red;
    text-shadow: 3px 3px black;
    background-color: black;
    border-radius: 5%;
    opacity: .8;
    margin-top: 0%;

}

.advent {
font-size: 4em;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
color: red;
text-shadow: 3px 1px black;
background-color: yellow;
border-radius: 50%;
opacity: .9;
margin-top: -7.5%;
}


body {

    

    background-image: url("/src/components/assets/junglebg.jpg"), url("/src/components/assets/piratebg.jpg"), url("/src/components/assets/spacebg.jpg");
    background-position: center, left, right;
    background-repeat: no-repeat;
    background-size: 35% 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


a {
    color: coral;
    font-size: 2em;
    background-color: black;
    
}
button {

    height: 100px;
    width: 300px;
    font-size: 2em;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    background-color: black;
    color: red;
    border-radius: 50%;
    text-shadow: 2px 2px black;
}







.nar {

        font-size: 20px;
        margin-top: 5%;
        font-family: cursive;
        font-weight: bold;
    
    }